<h1>Ora2Pg</h1>
<form method="POST" action="/ora2pg/{{project.name}}">
    <a id="showAdvanced" onclick="showAdvanced()">Show advanced settings</a>
    {{#each config}}
    <h3 class="{{#if this.class}}{{this.class}}{{else}}advanced{{/if}} accordion">{{@key}} - {{this.title}}</h3>
    <ul class="panel" {{#ifEquals this.class "basic"}}style="display: block;"{{/ifEquals}}>
        {{#each this.values}}
        <li class="{{#if this.class}}{{this.class}}{{else}}advanced{{/if}}"><span class="tooltip">
                <label for="{{@key}}">{{@key}}</label>
                <div class="tip">
                    <h5>{{@key}}</h5>{{this.description}}
                </div>
            </span>
            <span>
            {{#if this.flag}}
            <select id="{{@key}}" name="{{@key}}" {{#if this.suppress}}disabled{{/if}}>
                <option value="0" {{#ifEquals 0 this.value}}selected{{/ifEquals}}>Disabled</option>
                <option value="1" {{#ifEquals 1 this.value}}selected{{/ifEquals}}>Enabled</option>
            </select>
            {{else}}
            {{#if this.enum}}
            <select id="{{@key}}" name="{{@key}}" {{#if this.suppress}}disabled{{/if}}>
                {{#each this.enum}}
                <option value="{{this}}" {{#ifEquals this ../value}}selected{{/ifEquals}}>{{this}}</option>
                {{/each}}
            </select>
            {{else}}
            {{#greaterThan this.value.length 60}}
            <textarea id="{{@key}}" name="{{@key}}" {{#if this.suppress}}disabled{{/if}}>{{{this.value}}}</textarea>
            {{else}}
            <input type="{{#if this.type}}{{this.type}}{{else}}text{{/if}}" id="{{@key}}" name="{{@key}}" value="{{{this.value}}}"
                {{#if this.suppress}}disabled{{/if}} />
            {{/greaterThan}}
            {{/if}}
            {{/if}}
            <input class="checkbox" type="checkbox" id="{{@key}}-enabled" onclick="setFieldDisabled('{{@key}}')"
                {{#unless this.suppress}}checked{{/unless}} />
            </span>
        </li>
        {{/each}}
    </ul>
    {{/each}}
    <h3>Actions</h3>
    <ul>
      <li><input type="submit" value="Save" /></li>
      <li><a href="/ora2pg/{{project.name}}/exec" target="_new">Execute</a></li>
      {{!-- <li><button onclick="execForm('/ora2pg/{{project.name}}/exec')">Execute</button></li> --}}
    </ul>
</form>

<div id="outputDiv"></div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>